{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                </thead>
                    <tbody>
                        {% for todo in list_of_todo %}
                        <tr>
                            <td>{{list.name}}</td>
                        </tr>                
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </main>
</body>
</html>